@charset "UTF-8";
.input-box {
  display:flex;
  position: relative;
  background: #f5f5f5;   
  border-radius: 8px;
  padding: 10px; 
  width: 400px;
  height:50px;
  margin: 20px auto;
  
}

.input-box .fixed-label {

  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 12px;
  color: #666;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  margin-top: 14px; /* 라벨과 간격 */
}
.custom-dropdown {
  position: relative;
 
  width: 100%;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 6px;
  border: none;
  outline: none;
}

.custom-dropdown .selected {
  padding: 10px;
  background: #f5f5f5;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
  outline: none;
}

.custom-dropdown .selected::after {
  content: "Ⅴ";
  font-weight:bold;
  font-size: 15px;
  margin-left: 10px;
  color: #666;
}

.custom-dropdown .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  border: none;
  border-radius: 6px;
  margin-top: 4px;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.custom-dropdown .options li {
  padding: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.custom-dropdown .options li:hover {
  background: #e0e0e0;
}

