<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.musicsnsproject.repository.mybatis.mapper.MyUserMybatisMapper">
    <resultMap id="MyUserVOMap" type="com.github.musicsnsproject.domain.user.MyUserVO">
        <id property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
    </resultMap>
    <select id="findById" parameterType="long" resultMap="MyUserVOMap">
        SELECT
            user_id,
            nickname,
            email
        FROM
            users
        WHERE
            user_id = #{userId}
    </select>

</mapper>
