@charset "UTF-8";

/* 마이페이지 상단 보유 음표 */
.mypage-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    background: #F3F2F8;
}
.mypage-point .point-info {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.mypage-point .point-info .point-title {
    font-size: 20px;
    color:#5a5a5a;
    font-weight: 600;
}
.mypage-point .point-info .real-point {
    font-size: 24px;
    color:#6633FF;
    font-weight: 600;
    margin-left: 10px;
}
.mypage-point .btn {
    border: 1px solid #8a8a8a;
}


/* 장바구니 */
#musicCart .music-cart-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}
#musicCart .music-check-info {
    display: flex;
    align-items: center;
    gap: 0 14px;
}
#musicCart .music-check-info div {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 10px;
}
#musicCart .music-check-info div:not(:last-child) {
    border-right: 1px solid #ddd;
    padding-right: 14px;
}

#musicCart .music-check-info .title {
    font-size: 15px;
    color: #8a8a8a;
    font-weight: 500;
}
#musicCart .music-check-info .title.point {
    font-weight: bold;
}
#musicCart .music-check-info .text {
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

#musicCart .music-cart-table {
    width: 100%;
}
#musicCart .music-cart-table th {
    padding: 14px 0;
    border-bottom:0;
    border-color: #e0e0e0;
    text-align: center;
}
#musicCart .music-cart-table td {
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
}

#musicCart .music-cart-table .music-info {
    display: flex;
    align-items: center;

}
#musicCart .music-cart-table .music-img {
    margin-left: 14px;
    margin-right: 14px;
}
#musicCart .music-cart-table .music-img img {
    width: 80px;
}

#musicCart .btn-cart-delete {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/common/icon/trash.png") no-repeat center;
    background-size: 24px;
    margin: 0 auto;
}
#musicCart .btn-delete {
    background: #8a8a8a;
    color: #fff;
}
#musicCart .btn-payment {
    background: #6633FF;
    color: #fff;
    margin-left: 12px;
}