@charset "UTF-8";

.flex.stats {
  display: flex;
  justify-content: center;
  gap: 60px; /* 숫자들 사이 간격 */
  margin-top: 20px;
}

.flex.stats > div {
  text-align: center;
}

.font-bold {
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 4px;
}

.label-text {
  font-size: 10pt;
  color: #666;
}

.number-color {
	color: #6C63FF;
}
.playlist-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}

.playlist-item .btn-delete-profile {
    width: 30px;
    height: 30px;
    background: #F2F0FF;
    color: #6633FF;
    font-weight: bold;
    border-radius: 4px;
}

.song-title {
  flex: 2;
font-size: 14px;
color: #000;
line-height: 1.2;
}

  .song-artist {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 20px;
      font-size: 13px;
      color: #777;
    white-space: nowrap;
  }

  .song-artist span {
    display: inline-block;
    padding-right: 150px; /* 여백을 줘서 자연스럽게 연결 */
  }

  .song-artist:hover .scrolling {
    animation: scroll-loop 10s linear infinite;
  }

  .scrolling-wrapper {
    display: inline-block;
    white-space: nowrap;
  }

  @keyframes scroll-loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

.song-button {
  flex: 0.5;
  text-align: right;
  margin-top: 10px;
}