@charset "UTF-8";

.recommended-music {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* 말줄임(한 줄) */
.recommended-music .ellipsis-1 {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* flex 컨테이너 안이라면 말줄임이 먹히도록 */
.recommended-music .artist-wrap {
  min-width: 0;  /* 중요: flex 컨텍스트일 때 필요 */
}
.album-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.album-list:hover {
  background-color: #f5f0ff;
  cursor:pointer;
}

.album-one {
  flex: 0 0 65%;
  font-weight: bold;
  font-size: 15px;
  color: #6633ff;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.scrolling-wrapper {
  display: inline-block;
  white-space: nowrap;
}

/* 글자 반복을 위한 내부 span */
.scrolling-wrapper span {
  display: inline-block;
  padding-right: 120px; /* 글자 사이 간격 */
  height: 10px;
}

/* hover 시 자연스러운 무한 스크롤 */
.album-one:hover .scrolling-wrapper {
  animation: scroll-loop 7s linear infinite;
}

@keyframes scroll-loop {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* 글자 반복으로 자연스럽게 이어짐 */
}
